# workaround for getting storybook to work with npm7+; issue closed but hopefully this is addressed eventually https://github.com/storybookjs/storybook/issues/18298#issuecomment-1209929821
legacy-peer-deps=true
