.DS_Store
node_modules
/build
/.next
/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# ignore snapshots - we don't want to format output which would then be compared to unformatted output
**/__snapshots__/**

# misc
.all-contributorsrc

# for some reason prettier doesn't format frontmatter in a way that the syntax highlighting sees as ok (property arrays are put on separate lines)
# and AI tools use frontmatter for metadata
.github/chatmodes/*.chatmode.md
